# Content Test Results

## Results

|   Test Name    | Content Type | Content A ID | Content B ID | Content Element ID | Exact Match | Unsorted Match | Test Error Message |
| :------------: | :----------: | :----------: | :----------: | :----------------: | :---------: | :------------: | :----------------: |
|  AG Grid Demo  |  dashboards  |     957      |     957      |        5222        |   Failed    |     Passed     |        None        |
| AG Grid Demo 2 |  dashboards  |     958      |     957      |        5222        |   Failed    |     Passed     |        None        |
